body{
    direction: rtl;
    background-color: #F0F0F0;
}
nav{
    list-style: none;
}
h1,h2,h3{
    margin: 0;
    padding: 0;
}
nav li{
    color: rgba(255, 255, 255, 0.925);
}
.landingFirstPart{
    /* background-image: url('./assests/landBg.svg'); */
    background: linear-gradient(#005c97, #363795);
    border-radius: 0 0 4rem 4rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zhaketLogo{
    width: 83px; 
}
.landingBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
    gap: 20px;
    /* height: 100%; */
}
.landingBoxRight {
    height: 100%;
    margin-top: 2.2rem;
}
.landingBoxRight p{
    max-width: 640px;
    line-height: 1.8rem;
    color: rgba(255, 255, 255, 0.925);
    font-size: 1.1rem;
    margin: 0px;
    margin-top: 1rem;
}
.landingBoxRight h2{
    font-weight: 600;
    color: rgba(255, 255, 255, 0.925);
    font-size: 2.2rem;
    letter-spacing: .2px;
}
/* .card img{
    padding: 2rem;
} */
.cardBox{
    height: 100%;
    padding: 2rem;
}
.card-text{
    color: #4D4D4D;
    font-size: 1.2rem;
}
.buttonBox{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 2rem;
}
.buttonBox button{
   font-weight:500 ;
   color: #535151;
   font-size: .9rem;
}
.landingBoxLeft img{
    width: 100%;
}
.titlePossibilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.titlePossibilities img{
    width: 100%;
}
.title{
   text-align: center;
}
.title h3{
    min-width: 200px;
    font-weight: 700;
    font-size: 1.1rem;
    color:#4D4D4D ;
    letter-spacing: .3px;
}
.subjectMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}
.subjectMainPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8rem 0;
    background-image: url('./assets/mainBg.svg');
    min-height: 60vh;
}
.row{
    padding: 4rem 7rem !important;
    margin: 0 !important;
}
.subjectImg img{
    width: 100%;
    height: 84vh;
}
.subjecDesc .card{
    min-height: 46vh;
    border-radius: 1rem;
    margin: 0 2rem;
    box-shadow: 10px 10px 19px #1C26FE4A;
    
}
.card-header{
    background-color: orange !important;
    border-radius: 1rem 1rem 0 0 !important; 
    border: none !important;
    text-align: center;
    color: #F0F0F0;
}
.cardNews{
    display: flex !important;
    justify-content: center;
    margin: 6rem 0;
    border: none ;
    padding: 3rem 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 30px;
    border-radius: 10px;
}
.mainerNewsDesc{
    margin-top: 2rem;
    max-width: 550px;
}
.mainerNewsDesc p{
    margin-top: 1rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: #4D4D4D;
    font-size: 1.2rem;
}
.mainerNewsImg img{
    width: 100%;
    min-height: 20vh;
}
.inputContainer{
    position: relative;
    width: 400px;
   
}
.inputContainer input{
   height: 6vh;
}
.inputContainer button{
    position: absolute;
    left: 0;
    height: 6vh;
    background-color: orange;
    color: #fff;
    border-radius: 6px;
    border: none;
    min-width: 80px;
}
.inputPart h4,p{
    color: #F0F0F0;
}
.inputBox{
    border: none;
    border-radius: 5px;
    height: 5vh;
    padding: 0 .6rem;
    width: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.footer{
    background: linear-gradient(#005c97, #363795);
    border-radius: 4rem 4rem 0 0;
}
.footerDesc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}
.footerDescLeft{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footerDescRight{
    display: flex;
    gap: 60px;
    height: 100%;
}
.cardShow{
    height: 45vh;
    border-radius: 35px !important;
    gap: 20px;
}
.cardShow .card-body{
   padding: 1rem;
   flex: none !important;
}
.descCol h5{
    color: #F0F0F0;
    font-weight: 600;
}
.descCol div{
    padding: .5rem 0;
    color: #F0F0F0;
}
.footerSocials{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 25px;
}
.socialIcon{
    color: #F0F0F0;
    font-size: 2rem;
}
.inputPart{
    
    text-align: right;
    display: inline-block;
}
.inputPart h4{
    text-align: right;
   
}
.footerPrivacy{
    text-align: center;
    color: #F0F0F0;
    padding-bottom: 1rem;
}
.footerPrivacy p{
    margin: 0;
}
.footerPr {
    display: flex;
    gap: 30px;
}
.footerPr img{
    height: 180px;
}
.descCol div:hover{
    color: rgb(240, 158, 6);
    cursor: pointer;
}
.cardShow {
    padding: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    box-shadow: 10px 10px 19px #000DFF4A;
    cursor: grab;
}
.nav-link:hover{
    color: rgb(240, 158, 6) !important;
}
.dropdown-toggle::after {
    transform: translateY(3px);
}
.nav-link{
    color: #fff !important;
}
.cardShow img{
    width: 100%;
    height: 70px;
}
@media only screen and (max-width: 800px) {
    .cardNews,.footerDesc, .landingBox {
        flex-direction: column-reverse;
    }
    .subjectMain{
        flex-direction: column
    }
    
    .footerDesc{
        gap: 25px;
        align-items: unset !important;
    }
    .footerPr{
        flex-direction: column;
    } 
    .footerPr img {
        height: 270px;
    }
    .row{
        padding: 2rem !important;
    }
    .subjectMain{
        gap: 0 !important;
        justify-content: center;
    }
    .inputContainer {
        width: 100%;
    }
    .cardBox{
        padding: 1rem !important;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    } 
    .cardBox:hover{
        scale: 1.1 !important;
    } 
  }